* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1440px;
    margin: auto;
}

.container_m {
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 64px;
}

.container_f {
    max-width: 1440px;
    margin: auto;
}

.top {
    min-height: 621px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
    box-sizing: border-box;
}

.top_cont-box {
    flex-grow: 1;
    background-image: url(imgdz5/toppeg.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 40%;
    max-height: 550px;
    box-sizing: border-box;
}

.ssilkihead {
    margin-left: 32px;
    margin-right: 32px;
    padding-top: 42px;
    display: flex;
    justify-content: space-between;
}

.ssilkipoint {
    list-style-type: none;
}

.prgf {
    font-size: 16px;
    line-height: 26px;
    color: #1f3f68;
    letter-spacing: 0.05em;
    opacity: 0.6;
}

.top_info {
    margin-left: 32px;
    padding-top: 115px;
    flex-grow: 1;

}

.h1 {
    font-weight: 300;
    letter-spacing: 0.04em;
    font-size: 64px;
    color: #1f3f68;
    line-height: 74px;
    margin-bottom: 32px;

}

.prgfh1 {
    max-width: 425px;
}

.top_button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 00.04em;
    color: #ffffff;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 71px;
    margin-bottom: 145px;
}

.h2c {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.map {
    width: 1440px;
}

.h3 {
    font-size: 36px;
    text-align: center;
    line-height: 46px;
    letter-spacing: 00.05em;
}

.bisnesspagis {
    display: flex;
    justify-content: space-around;
    padding-top: 64px;
    padding-bottom: 64px;
    flex-wrap: wrap;
}

.bisnesspagis1 {
    margin: 10px;
    width: 320px;
    padding: 44px 32px;
    box-sizing: border-box;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.cargimag {
    align-self: center;
    margin-bottom: 51px;
}

.card_link {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;

}

.photo_cont {
    width: 40%;
}

.project__item {
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
}


.project__item1 {
    flex-grow: 1;
    box-shadow: 50px 20px 45px rgba(16, 112, 177, 0.2);
    width: 100%;

}

.project_parent {
    display: inline-flex;
    justify-content: space-between;
    margin-top: 32px;
    width: 100%;

}

.project_text {
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 00.05em;
    color: #fbff06;
    position: absolute;
    top: 64px;
    right: 64px;
    background-color: hsl(0, 0%, 13%, 0.6);
    border-radius: 25px;
    padding-left: 8px;
    padding-right: 8px;
}

.text_project {

    width: 75%;
    color: #222222;
    opacity: 1;
    text-align: center;
    margin: 32px auto 64px;
}

.h4 {
    font-size: 20px;
    line-height: 30px;
    color: #1f3f68;
    letter-spacing: 00.05em;
    margin-bottom: 14px;
}

.intex {
    border: 1px solid#356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.bt {
    background: #5a98d0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

.footer {
    display: flex;
    background: #316099;
    margin-top: 112px;
    flex-direction: column;

}

.back_foo {
    background: #316099;
}

.h3footer {
    margin-left: 113px;
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;

}

.prgffooter {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;


}

.f_p_marg {
    margin-left: 113px;
    margin-right: 113px;
    flex-grow: 1;
}

.foll_p_marg {
    margin-left: 113px;
    margin-top: 32px;
    margin-bottom: 32px;
    max-width: 50%;
}

.contacts {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.copy_marg {
    margin-top: 64px;
    margin-bottom: 64px;
}

.lstn {
    list-style-type: none;
    width: 200px;
}

.bot_button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 00.04em;
    color: #ffffff;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    top: 69px;
    left: 902px;
    height: 20px;
    padding: 15px 50px;

}

.fflex {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    justify-content: center;
}

.foo_top {
    display: flex;
    justify-content: space-between;
    margin-top: 91px;
    flex-wrap: wrap;

}

.bot_button1 {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 00.04em;
    color: #ffffff;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-right: 113px;
    margin-left: 113px;
    max-height: 30px;
    margin-bottom: 32px;

}


.shadow {
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
}

.cont_mid_img {
    margin-top: 32px;
    text-align: center;
}

.cont_mid_cont {
    display: flex;
    justify-content: space-around;
    margin-bottom: 32px;
    margin-top: 32px;
    flex-wrap: wrap;
}

.foo_top_nonbut {
    flex-grow: 1;
    width: 300px;
}

.cont_mid_cont1 {
    margin-left: 113px;
    flex-grow: 1;
    margin-right: 113px;
    margin-top: 32px;
}


@media (max-width: 1024px) {}

@media (max-width: 1024px) {
    .container {

        padding-right: 32px;
    }

    .ssilkihead {
        margin-right: 0px;
    }



}



@media (max-width: 667px) {
    .ssilkihead {
        padding-top: 13px;
    }

    .top_info {
        padding-top: 13px;
    }

    .top {
        min-height: 400px;
    }

    .h1 {
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 12px;
        width: 100%;
        text-align: center;
    }

    .top_cont-box {
        background-position: right 500px;
        padding-top: 32px;
        background-position: right bottom;
    }

    .prgfh1 {
        width: 100%;
        text-align: center;
    }

    .top_button {
        width: 70px;
        font-size: 12px;
        line-height: 26px;
        padding: 4px 8px;
        margin-top: 32px;
        margin-bottom: 40px;
        padding: 0px 8px;
    }

    .h3 {
        font-size: 24px;
        line-height: 28px;
    }

    .container_m {
        padding-top: 48px;
    }

    .bisnesspagis {
        padding-top: 32px;
    }

    .bisnesspagis1 {
        width: 100%;
    }

    .text_project {
        margin-right: 0;
        margin-left: 0;
        width: 100%;
    }

    .project_text {
        font-size: 16px;
        width: 50%;
        font-size: 12px;
        top: 32px;
        right: 32px;
        background-color: hsl(0, 0%, 13%, 0.2);
    }

    .bot_button {
        width: 70px;
        font-size: 12px;
        padding: 4px 4px;
        margin-top: 32px;
        margin-bottom: 40px;
        padding: 0px 4px;
        box-sizing: border-box;
    }

    .bot_button1 {
        line-height: 17px;
    }

    .h3footer {
        margin-left: 15px;
    }

    .foll_p_marg {
        margin-left: 15px;
    }

    .bot_button1 {
        margin-left: 15px;
    }

    .f_p_marg {
        margin-left: 15px;
    }

    .project_parent {
        flex-direction: column;
    }

}

@media (max-width: 304px) {
    .bot_button1m {
        max-height: 60px;
    }

    .top_button {
        background-position: right 150px;
        margin-bottom: 20px;

    }

    .top_cont-box {
        padding-top: 32px;
        background-position: right bottom;

    }
}